/*通用样式*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	font-size:16px;
}
ul li{
	list-style-type: none;
}

/*head样式*/
.panel-heading .row{
	margin-top: 10px;
}
.col-xs-10 .row:nth-last-child(1){
	margin-bottom: 15px;
}

.col-xs-10 .row:nth-child(2),.col-xs-10 .row:nth-child(1){
	margin-top: 0px;
}

.col-xs-5 span{
	margin-right: 10px;
}

.col-xs-11 span{
	margin-right: 10px;
}

.col-xs-1>img{
	width:60%;
}

.row>.col-xs-11>ol>li,h5.media-heading{
	margin-bottom: 1em;
}

.self_img{
	width:60%;
}
.form-control{
	color:#333;
}
.has-success .form-control{
	border-color: #bce8f1;
}

/*main-body样式*/
.panel.panel-primary{
	border-color: transparent;
	border-bottom:1px solid #eee;
}
.panel.panel-primary>.panel-heading  {
	border:1px solid transparent;
	border-radius:2px;
	/*background-color: #000;*/
	border-color: transparent;

}
.panel-primary>.panel-heading{
    width:7em;
}

.panel-primary>.panel-body{
	border:1px solid transparent;
	border-radius:0;
}

.panel-body>.media-left{
	float: left;
}

.panel-heading>span:nth-child(2){
	font-weight: 700;
}
.mar-top{
	margin-top: 50px;

}

.list-group-item-text>img{
	width:5%;
	margin-right: 10px;
}

.media-left{
	padding-right: 0px;
}
.media-left>h4{
	font-weight: bold;
	text-indent: 15px;
}
.media-body h5{
	margin-top: 20px;
}

.border_bottom{
	border-bottom:1px solid rgba(66,139,202,0.1);

}
